.container {
  composes: container from '../registration/registration.module.css';
}

.section {
  composes: section from '../registration/registration.module.css';
}

.form {
  composes: form from '../registration/registration.module.css';
}

.form > div {
  margin-bottom: 24px;
}

.form > div,
.form > div > div {
  width: 100%;
}

.link {
  composes: link from '../registration/registration.module.css';
}
