.burgerConstructorSection {
  position: relative;
  max-width: 600px;
  width: 100%;
}

.hoverBurgerConstructorSection {
  composes: burgerConstructorSection;
  outline: 3px dashed rgba(255, 255, 255, 0.4);
}

.ingredientsContainer {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 16px;
}

.ingredientsContainer > div {
  max-width: 536px;
  width: 100%;
}
