.burgerConstructorSection {
  position: relative;
  max-width: 600px;
  width: 100%;
}

.ingredientsContainer {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 16px;
}

.noIngredientsBlock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.noIngredientsBlock svg {
  width: 30%;
  height: 30%;
  margin-bottom: 40px;
}

.ingredientsContainer > div {
  max-width: 536px;
  width: 100%;
}

.ingredientsList {
  display: flex;
  align-items: center;
  flex-flow: column;
  gap: 16px;
  max-height: 465px;
  overflow-y: auto;
}

.ingredientsList::-webkit-scrollbar {
  width: 8px;
}

.ingredientsList::-webkit-scrollbar-track {
  background: #2f2f37;
}

.ingredientsList::-webkit-scrollbar-thumb {
  background: #8585ad;
}

.ingredientItem {
  display: flex;
  align-items: center;
  margin-right: 25px;
}

.ingredientItem > svg {
  margin-right: 5px;
}

.ingredientItem > div {
  max-width: 536px;
  width: 536px;
}

.submitSection {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 30px;
}

.submitSection button {
  cursor: pointer;
}

.submitSection button:disabled {
  box-shadow: none;
  filter: none;
  opacity: 0.2;
  cursor: default;
}

.totalPrice {
  display: flex;
  align-items: center;
}

.totalPrice > svg {
  width: 33px;
  height: 33px;
}
