.ingredientItem {
  display: flex;
  align-items: center;
  margin-right: 25px;
}

.ingredientItem > svg {
  margin-right: 5px;
}

.ingredientItem > div {
  max-width: 536px;
  width: 536px;
}

.ingredientItemDragging {
  opacity: 0.2;
}

@keyframes color_change {
  from {
    background-color: #2f2f37;
  }
  to {
    background-color: #4c4cff;
  }
}

.ingredientItemHovered > div {
  animation-name: color_change;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
