.container {
  display: flex;
  padding: 0 20px;
}

.profileNav {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin-right: 60px;
  padding-top: 120px;
}

.navItem,
.navBtn {
  padding: 15px 0;
  color: #8585ad;
}

.navBtn {
  margin-bottom: 80px;
  border: none;
  background: none;
  text-align: left;
}

.navItemActive {
  color: #ffffff;
}

.content {
  padding: 40px 0;
  flex-grow: 1;
}
