.ingredientItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  max-width: 272px;
  width: 100%;
  cursor: pointer;
  transition: all 0.2s linear;
}

.draggableIngredientItem {
  composes: ingredientItem;
  opacity: 0.2;
}

.ingredientItem:hover {
  transform: scale(1.05);
}

.image {
  display: block;
}

.price {
  display: flex;
  align-items: center;
}

.name {
  text-align: center;
}
