.container {
  display: flex;
  justify-content: center;
  padding-top: 80px;
}

.section {
  max-width: 480px;
  width: 100%;
  text-align: center;
}

.form {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin-bottom: 80px;
}

.form > div {
  margin-bottom: 24px;
}

.form > div,
.form > div > div {
  width: 100%;
}

.link {
  color: #4c4cff;
}

.form button:disabled {
  box-shadow: none;
  filter: none;
  opacity: 0.2;
  cursor: default;
}
