.container {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.name {
  margin-bottom: 32px;
  text-align: center;
}

.energyValueBlock {
  display: flex;
  gap: 20px;
}

.valueItem {
  display: flex;
  flex-flow: column;
  align-items: center;
}
